#Qui c'è l'url per accedere al DB in mongoDB.
DB_URL="mongodb+srv://[username:password@]host[/[defaultauthdb][?options]]"

#SUPER_SECRET serve per cifrare i token
SUPER_SECRET="XXX"


#Qui c'è l'url al Database Supabase, che contiene le immagini delle pubblicazioni
SUPABASE_URL="https://XXX.supabase.co"

#EQuesta chiave serve ad accedere al Database supabase.
SUPABASE_ANON_KEY="XXX"

#Si trova nel frontend, in un file chiamato ".env.development".
#URL per accedere al backend in locale
VITE_API_URL="http://localhost:8080"

#Si trova nel frontend, in un file chiamato ".env.production".
#URL per accedere al backend tramite render
VITE_API_URL="https://dololost-backend.onrender.com"